<h1>Properties#index</h1>
<p>Find me in app/views/properties/index.html.erb</p>



<%= form_tag properties_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>




<% unless @properties.nil? %>
<ul>
<% @properties.each do |property| %>

  <li><%= link_to(property.title, property) %></li>

<% end %>
</ul>
<% end %>